$mainFontFamily: 'Source Sans Pro', sans-serif

$primaryColor: #2B73AC
$secondColor: #ff0000
$bgColor1: #E20612
$bgColor2: #1A1A1A
$bgColor3: #F6F3F3
$whiteColor: #ffffff
$textColor1: #242424
$textColor2: #707070
$textColor3: #242424

$fontWeightLight: 300
$fontWeightRegular: 400
$fontWeightMedium: 500
$fontWeightSemiBold: 600
$fontWeightBold: 700

$fontSizeSmall: 14px
$fontSizeMedium: 18px
$fontSizeLarge: 22px