$mainFontFamily:  "Inter", sans-serif

$primaryColor: #2B73AC
$secondColor: #E20612
$textColor2: #707070
$textColor3: #1a1a1a
$textColor4: #575757
$bgColor1:#EDEDED
$bgColor2: #FFFCFC
$bgColor3: #E50019
$whiteColor: #ffffff
$borderColor: #dee2e6



$fontWeightLight: 300
$fontWeightRegular: 400
$fontWeightMedium: 500
$fontWeightSemiBold: 600
$fontWeightBold: 700

$fontSizeSmall: 14px
$fontSizeMedium: 18px
$fontSizeLarge: 22px