@use 'variables'
@use 'short-code'

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')
@import url('../vendor/bootstrap-5.2/css/bootstrap.min.css')
@import url('../vendor/fontawesome/css/all.min.css')
@import url('../vendor/icomoon/style.css')

*
    font-family: variables.$mainFontFamily
html
    scroll-behavior: smooth
a,button
    @include short-code.text-DO
    cursor: pointer
a
    &:hover, &:focus
        @include short-code.text-DO
button
    &:hover, &:focus
        @include short-code.text-DO
#goTpButton
    display: inline-block
    background-color: variables.$primaryColor
    width: 50px
    height: 50px
    text-align: center
    border-radius: 4px
    position: fixed
    bottom: 65px
    right: -3px
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s
    opacity: 0
    visibility: hidden
    z-index: 8
    &::after
        @include short-code.fontAwesomeCreate('\f077')
        font-size: 2em
        line-height: 50px
        color: variables.$whiteColor
    &.show-active
        opacity: 1
        visibility: visible
