@media (min-width: 1280px) and (max-width: 1681px) {
  #reportModal #report-tabContent {
    height: 350px;
    overflow: hidden;
    overflow-y: auto;
  }
  .cs-general-main .cs-image-1 {
    height: 300px;
  }
  .cs-container-1 {
    padding: 0 150px 0 200px;
  }
  .cs-module-configurator-main .cs-promo-arae {
    padding-left: 200px;
  }
  .cs-module-configurator-main .cs-content-area {
    padding-right: 150px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  #goTpButton {
    bottom: 60px;
    right: 5px;
  }
  .cs-container-1 {
    padding: 0 50px;
  }
  #configurator-tab .nav-item .nav-link {
    font-size: 15px;
    line-height: 23px;
  }
  #configurator-tab .nav-item .nav-link.active {
    font-size: 15px;
    line-height: 23px;
  }
  .cs-module-configurator-main .cs-promo-arae {
    padding-left: 50px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-title-1 {
    font-size: 32px;
    line-height: 40px;
  }
  .cs-module-configurator-main .cs-content-area {
    padding-right: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #goTpButton {
    bottom: 60px;
    right: 5px;
  }
  .cs-container-1 {
    padding: 0 40px;
  }
  .cs-module-configurator-main {
    flex-direction: column;
  }
  .cs-module-configurator-main .cs-promo-arae {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-info-area {
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-info-area .cs-title {
    font-size: 18px;
    line-height: 24px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-info-area .cs-info-list li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-title-1 {
    font-size: 25px;
    line-height: 33px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-desc-1 {
    font-size: 14px;
    line-height: 22px;
  }
  .cs-module-configurator-main .cs-content-area {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
  }
  .cs-module-configurator-main .cs-content-area .cs-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .cs-module-configurator-main .cs-content-area img {
    margin: 0 auto;
  }
  .cs-module-configurator-main .cs-content-area .c-module-area .cs-desc-1, .cs-module-configurator-main .cs-content-area .c-product-area .cs-desc-1 {
    font-size: 14px;
    line-height: 22px;
  }
  #configurator-tab .nav-item .nav-link {
    font-size: 14px;
    line-height: 22px;
    padding: 15px 5px;
  }
  #configurator-tab .nav-item .nav-link.active {
    font-size: 14px;
    line-height: 22px;
    padding: 15px 5px;
  }
}
@media (max-width: 767px) {
  #goTpButton {
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 20px;
  }
  #goTpButton::after {
    font-size: 1.8em;
    line-height: 50px;
    position: relative;
    bottom: 5px;
  }
  .cs-form-check-area label {
    font-size: 13px;
  }
  .cs-profile-modal .cs-header .cs-title {
    font-size: 18px;
    line-height: 26px;
  }
  .cs-profile-modal .cs-header .cs-pp-close-btn i {
    font-size: 18px;
  }
  .cs-profile-modal .accordion-button p {
    font-size: 15px;
    line-height: 23px;
  }
  .cs-container-1 {
    padding: 0 10px;
  }
  #cs-add-btn-1 span {
    display: none;
  }
  .cs-transfer-btn-group {
    max-width: 140px;
    justify-content: flex-start !important;
  }
  .cs-files-btn-group, .cs-transfer-btn-group {
    display: none;
    height: auto;
    justify-content: center;
  }
  .cs-files-btn-group.active, .cs-transfer-btn-group.active {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .cs-files-btn-group button, .cs-transfer-btn-group button {
    font-size: 12px;
    height: auto;
    padding: 6px 20px;
    margin: 0;
    border-radius: 100px;
  }
  .cs-global-footer-1 .cs-footer-menu-2 i {
    font-size: 16px;
  }
  .cs-global-footer-1 .cs-footer-logo-m-1 img {
    width: 160px;
    margin-bottom: 10px;
  }
  .cs-main-header .cs-header-menu .cs-header-list {
    gap: 10px;
  }
  .cs-main-header .cs-header-menu .cs-header-list .cs-language-area .cs-language-list .cs-language-item {
    padding: 5px;
  }
  .cs-main-header .cs-header-menu .cs-header-list .cs-language-area .cs-language-list .cs-language-item a {
    font-size: 13px;
  }
  .cs-main-header .cs-header-menu .cs-header-list .cs-list-item i {
    font-size: 16px;
  }
  .cs-main-header .cs-header-menu .cs-header-list .cs-list-item .cs-lang-code-text {
    font-size: 12px;
  }
  .cs-main-header .cs-header-logo {
    width: 145px;
  }
  .cs-top-bar .cs-top-bar-content .cs-title-1 {
    font-size: 17px;
  }
  .cs-add-project-modal, .cs-add-project-modal-2, .cs-add-project-modal-3 {
    z-index: 2;
    width: 250px;
    height: 410px;
  }
  .cs-add-project-modal .cs-header .cs-title-2, .cs-add-project-modal-2 .cs-header .cs-title-2, .cs-add-project-modal-3 .cs-header .cs-title-2 {
    font-size: 16px;
  }
  #cs-mobile-menu-2, #cs-mobile-menu-3, #cs-mobile-product-menu {
    display: flex;
    width: fit-content;
  }
  .cs-lightgallery-1 #lightgallery-module-1 li, .cs-lightgallery-1 #lightgallery-module-2 li, .cs-lightgallery-2 #lightgallery-module-1 li, .cs-lightgallery-2 #lightgallery-module-2 li {
    flex: 0 0 50%;
  }
  .cs-downloadModalMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
  }
  .cs-downloadModalMain .cs-downloadModalContent {
    width: 140px;
  }
  .cs-cutlist-main table tr td {
    width: 165px;
  }
  .cs-fastener-main {
    flex-direction: column;
  }
  .cs-fastener-main .cs-sec-1 {
    display: flex;
    justify-content: center;
  }
  .cs-fastener-main .cs-sec-2 {
    padding-left: 0;
    border: none;
  }
  .cs-general-main {
    flex-direction: column;
  }
  .cs-general-main .cs-image-1 {
    border-right: none;
    height: 250px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  #changeModal .modal-body {
    padding: 0 15px;
  }
  #changeModal #change-tab {
    gap: 5px;
  }
  #changeModal #change-tab .nav-item .nav-link {
    font-size: 14px;
    line-height: 20px;
  }
  #changeModal #change-tab .nav-item .nav-link.active {
    font-size: 14px;
    line-height: 20px;
  }
  .cs-accordion-hover {
    display: none;
  }
  .cs-change-content .cs-head .cs-title-1, .cs-change-content .cs-head .cs-selected-info {
    font-size: 14px;
    line-height: 22px;
  }
  .cs-change-content .cs-main-radiogroup {
    flex-wrap: wrap;
    gap: 5px;
  }
  .cs-change-content .cs-main-radiogroup .form-check-change {
    max-width: 49%;
  }
  .cs-change-content .cs-main-radiogroup .form-check-change .cs-change-info {
    font-size: 12px;
    line-height: 20px;
  }
  .cs-change-content .cs-main-radiogroup .change-area-label {
    font-size: 12px;
    line-height: 20px;
    padding: 8px;
  }
  .cs-files-transfer-main .cs-g-box-1 {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .cs-files-transfer-main .cs-g-box-1 .cs-product-name {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cs-files-transfer-main .cs-g-box-1 .cs-butons-list {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #reportModal #report-tab {
    border-radius: 6px;
    justify-content: center;
  }
  #reportModal #report-tab .nav-item .nav-link {
    font-size: 14px;
    line-height: 20px;
  }
  #reportModal #report-tab .nav-item .nav-link.active {
    font-size: 14px;
    line-height: 20px;
  }
  .cs-module-configurator .cs-right-side-main-2 {
    padding: 0 10px;
  }
  .cs-module-configurator .cs-left-side-main {
    max-height: calc(100vh - 190px);
    display: none;
    position: absolute;
    z-index: 1;
    top: 190px;
  }
  .cs-module-configurator .cs-right-side-main .cs-button-list {
    display: none;
  }
  .cs-module-configurator .cs-right-side-main .cs-button-list-mobile {
    display: flex !important;
    left: 50%;
    transform: translateX(-50%);
  }
  .cs-module-configurator .cs-right-side-main .cs-button-list-mobile .btn-gray {
    min-width: 50px;
    padding: 1px 10px;
    height: 40px;
    font-size: 15px;
  }
  .cs-product-configurator .cs-right-side-main-2 {
    padding: 0 10px;
  }
  .cs-product-configurator .cs-right-side-main-2 .cs-result-area.endActive {
    height: auto;
  }
  .cs-product-configurator .cs-right-side-main-2 .cs-content-main .cs-pic-img-area .cs-pic-img-list .list-area-label {
    font-size: 15px;
    line-height: 23px;
  }
  .cs-product-configurator .cs-right-side-main-2 .cs-content-main .cs-head .cs-title-1 {
    font-size: 15px;
    line-height: 23px;
  }
  .cs-product-configurator .cs-right-side-main-2 .cs-content-main .cs-head .cs-info-select, .cs-product-configurator .cs-right-side-main-2 .cs-content-main .cs-head .cs-info-select-2 {
    font-size: 13px;
    line-height: 21px;
  }
  .cs-product-configurator .cs-left-side-main {
    display: none;
    position: absolute;
    z-index: 1;
    top: 180px;
    min-height: 50vh;
    max-width: 100%;
  }
  .cs-module-configurator-main {
    flex-direction: column;
  }
  .cs-module-configurator-main .cs-promo-arae {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-info-area {
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-info-area .cs-title {
    font-size: 18px;
    line-height: 24px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-info-area .cs-info-list li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-title-1 {
    font-size: 25px;
    line-height: 33px;
  }
  .cs-module-configurator-main .cs-promo-arae .cs-desc-1 {
    font-size: 14px;
    line-height: 22px;
  }
  .cs-module-configurator-main .cs-content-area {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
  }
  .cs-module-configurator-main .cs-content-area .cs-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .cs-module-configurator-main .cs-content-area img {
    margin: 0 auto;
  }
  .cs-module-configurator-main .cs-content-area .c-module-area .cs-desc-1, .cs-module-configurator-main .cs-content-area .c-product-area .cs-desc-1 {
    font-size: 14px;
    line-height: 22px;
  }
  #configurator-tab .nav-item .nav-link {
    font-size: 14px;
    line-height: 22px;
    padding: 15px 5px;
  }
  #configurator-tab .nav-item .nav-link.active {
    font-size: 14px;
    line-height: 22px;
    padding: 15px 5px;
  }
  .cs-login-main {
    height: auto;
    padding: 50px 0 100px 0;
  }
  .cs-login-main .cs-login-form {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0;
  }
  .cs-login-main .cs-login-form form {
    padding: 0 15px;
  }
  .cs-login-main .cs-login-image {
    display: none;
  }
  .cs-product-result-main .cs-save-downl-area {
    width: 100%;
  }
  .cs-product-result-main .cs-result-product {
    flex-direction: column;
  }
  .cs-product-result-main .cs-result-product .cs-product-list {
    width: 100%;
  }
  .cs-product-result-main .cs-result-product .cs-image-area {
    width: 100%;
    border: none;
  }
  .cs-product-result-main .cs-product-result-content {
    flex-direction: column;
  }
  .cs-product-result-main .cs-product-result-content .cs-left-area {
    width: 100%;
  }
  .cs-product-piece-table table {
    width: 767px;
  }
  .modal-footer #cs-back-btn, .modal-footer #cs-back-btn-2, .modal-footer .cs-primary-border-btn, .modal-footer #cs-next-btn, .modal-footer #cs-next-btn-2, .modal-footer .cs-primary-btn, .modal-footer #cs-continue-btn-1 {
    font-size: 12px;
    margin: 0;
  }
  .cs-files-transfer-main .cs-g-box-1 .cs-butons-list .cs-checkbtn {
    font-size: 13px;
  }
  .cs-cutlist-main .table-bordered > :not(caption) > * > * {
    font-size: 13px;
  }
  #changeModal .modal-footer {
    gap: 5px;
  }
}
@media (min-width: 500px) {
  #goTpButton {
    margin: 30px;
  }
}/*# sourceMappingURL=responsive.css.map */