

@media (min-width: 1280px) and (max-width: 1681px)
    #reportModal
        #report-tabContent
            height: 350px
            overflow: hidden
            overflow-y: auto
    .cs-general-main 
        .cs-image-1
            height: 300px
    .cs-container-1
        padding: 0 150px 0 200px

    .cs-module-configurator-main 
        .cs-promo-arae
            padding-left: 200px
        .cs-content-area
            padding-right: 150px
@media (min-width: 1024px) and (max-width: 1279px)
    #goTpButton
        bottom: 60px
        right: 5px
    .cs-container-1
        padding: 0 50px
    #configurator-tab 
        .nav-item 
            .nav-link
                font-size: 15px
                line-height: 23px
                &.active
                    font-size: 15px
                    line-height: 23px
    .cs-module-configurator-main 
        .cs-promo-arae
            padding-left: 50px
            .cs-title-1
                font-size: 32px
                line-height: 40px
        .cs-content-area
            padding-right: 50px

@media (min-width: 768px) and (max-width: 1023px)
    #goTpButton
        bottom: 60px
        right: 5px
    .cs-container-1
        padding: 0 40px
    .cs-module-configurator-main
        flex-direction: column
        .cs-promo-arae
            flex: 0 0 100%
            max-width: 100%
            padding: 20px
            .cs-info-area 
                padding: 20px
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
                .cs-title
                    font-size: 18px
                    line-height: 24px
                .cs-info-list 
                    li
                        font-size: 14px
                        line-height: 22px
                        margin-bottom: 5px
            .cs-title-1
                font-size: 25px
                line-height: 33px
            .cs-desc-1
                font-size: 14px
                line-height: 22px
        .cs-content-area
            flex: 0 0 100%
            max-width: 100%
            padding: 20px
            .cs-title
                font-size: 18px
                line-height: 24px
                margin-bottom: 10px
            img
                margin: 0 auto
            .c-module-area,.c-product-area
                .cs-desc-1
                    font-size: 14px
                    line-height: 22px
    #configurator-tab 
        .nav-item 
            .nav-link
                font-size: 14px
                line-height: 22px
                padding: 15px 5px
                &.active
                    font-size: 14px
                    line-height: 22px
                    padding: 15px 5px

@media (max-width: 767px)
    #goTpButton
        width: 40px
        height: 40px
        bottom: 30px
        right: 20px
        &::after
            font-size: 1.8em
            line-height: 50px
            position: relative
            bottom: 5px
    .cs-container-1
        padding: 0 10px
    #cs-add-btn-1 
        span
            display: none
    .cs-transfer-btn-group
        max-width: 140px
        justify-content: flex-start !important
    .cs-files-btn-group,.cs-transfer-btn-group
        display: none
        height: auto
        justify-content: center
        &.active
            display: flex
            gap: 10px
            width: 100%
        button
            font-size: 12px
            height: auto
            padding: 6px 20px
            margin: 0
            border-radius: 100px
    .cs-global-footer-1 
        .cs-footer-menu-2 
            i
                font-size: 16px
        .cs-footer-logo-m-1 
            img
                width: 160px
                margin-bottom:10px
    .cs-main-header 
        .cs-header-logo
            width: 160px 
    .cs-top-bar 
        .cs-top-bar-content 
            .cs-title-1
                font-size: 17px
    .cs-add-project-modal,.cs-add-project-modal-2
        z-index: 2
        width: 250px
        height: 410px
        .cs-header 
            .cs-title-2
                font-size: 16px        
    #cs-mobile-menu-2, #cs-mobile-menu-3,#cs-mobile-product-menu
        display: flex
        width: fit-content
    .cs-lightgallery-1,.cs-lightgallery-2 
        #lightgallery-module-1,#lightgallery-module-2 
            li
                flex: 0 0 50%
    .cs-downloadModalMain 
        display: grid
        grid-template-columns: repeat(2,1fr)
        gap: 10px
        padding: 0
        .cs-downloadModalContent
            width: 140px
    .cs-cutlist-main 
        table 
            tr 
                td
                    width: 165px
    .cs-fastener-main
        flex-direction: column
        .cs-sec-1
            display: flex
            justify-content: center
        .cs-sec-2
            padding-left: 0
            border: none
    .cs-general-main
        flex-direction: column
        .cs-image-1 
            border-right: none
            height: 250px
            display: flex
            justify-content: center
            width: 100%
            position: relative
    #changeModal 
        .modal-body
            padding: 0 15px
        #change-tab 
            gap: 5px
            .nav-item 
                .nav-link
                    font-size: 14px
                    line-height: 20px
                    &.active
                        font-size: 14px
                        line-height: 20px
    .cs-accordion-hover
        display: none
    .cs-change-content 
        .cs-head 
            .cs-title-1,.cs-selected-info
                font-size: 14px
                line-height: 22px
        .cs-main-radiogroup 
            flex-wrap: wrap
            gap: 5px
            .form-check-change
                max-width: 49%
                .cs-change-info
                    font-size: 12px
                    line-height: 20px
            .change-area-label
                font-size: 12px
                line-height: 20px
                padding: 8px
    .cs-files-transfer-main 
        .cs-g-box-1
            flex-direction: column
            gap: 20px
            padding: 20px
            .cs-product-name
                flex: 0 0 100%
                max-width: 100%
            .cs-butons-list
                flex: 0 0 100%
                max-width: 100%
    #reportModal 
        #report-tab 
            border-radius: 6px
            justify-content: center
            .nav-item 
                .nav-link
                    font-size: 14px
                    line-height: 20px
                    &.active
                        font-size: 14px
                        line-height: 20px
    .cs-module-configurator
        .cs-left-side-main
            display: none
            position: absolute
            z-index: 1
            top: 188px
        .cs-right-side-main 
            .cs-button-list
                display: none
            .cs-button-list-mobile
                display: flex !important
                left: 50%
                transform: translateX(-50%)
                .btn-gray
                    min-width: 50px
                    padding: 1px 10px
                    height: 40px
                    font-size: 15px
    .cs-product-configurator
        .cs-left-side-main
            display: none
            position: absolute
            z-index: 1
            top: 180px
            max-width: 100%
    .cs-module-configurator-main
        flex-direction: column
        .cs-promo-arae
            flex: 0 0 100%
            max-width: 100%
            padding: 20px
            .cs-info-area 
                padding: 20px
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
                .cs-title
                    font-size: 18px
                    line-height: 24px
                .cs-info-list 
                    li
                        font-size: 14px
                        line-height: 22px
                        margin-bottom: 5px
            .cs-title-1
                font-size: 25px
                line-height: 33px
            .cs-desc-1
                font-size: 14px
                line-height: 22px
        .cs-content-area
            flex: 0 0 100%
            max-width: 100%
            padding: 20px
            .cs-title
                font-size: 18px
                line-height: 24px
                margin-bottom: 10px
            img
                margin: 0 auto
            .c-module-area,.c-product-area
                .cs-desc-1
                    font-size: 14px
                    line-height: 22px
    #configurator-tab 
        .nav-item 
            .nav-link
                font-size: 14px
                line-height: 22px
                padding: 15px 5px
                &.active
                    font-size: 14px
                    line-height: 22px
                    padding: 15px 5px
    .cs-login-main 
        height: auto
        padding: 50px 0 100px 0
        .cs-login-form
            flex: 0 0 100%
            max-width: 100%
            margin-top: 0
            form
                padding: 0 15px
        .cs-login-image
            display: none
    .cs-product-result-main 
        .cs-save-downl-area
            width: 100%
        .cs-result-product
            flex-direction: column
            .cs-product-list
                width: 100%
            .cs-image-area
                width: 100%
                border: none
        .cs-product-result-content
            flex-direction: column
            .cs-left-area
                width: 100%
    .cs-product-piece-table
        table
            width: 767px
    
    .modal-footer 
        #cs-back-btn, #cs-back-btn-2, .cs-primary-border-btn,#cs-next-btn,#cs-next-btn-2,.cs-primary-btn,#cs-continue-btn-1
            font-size: 12px
            margin: 0
    .cs-files-transfer-main 
        .cs-g-box-1 
            .cs-butons-list 
                .cs-checkbtn
                    font-size: 13px
    .cs-cutlist-main 
        .table-bordered > 
            :not(caption) > * > *
                font-size: 13px
    #changeModal 
        .modal-footer
            gap: 5px
@media (min-width: 500px)
    #goTpButton
        margin: 30px

@media (min-width: 320px) and (max-width: 360px)

@media (max-width: 320px)