@charset "UTF-8";
@media (min-width: 1024px) and (max-width: 1279px) {
  #goTpButton {
    bottom: 60px;
    right: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #goTpButton {
    bottom: 60px;
    right: 5px;
  }
}
@media (max-width: 767px) {
  #goTpButton {
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 20px;
  }
  #goTpButton::after {
    font-size: 1.8em;
    line-height: 50px;
    position: relative;
    bottom: 5px;
  }
  .cs-login-main .cs-card-img {
    display: none;
  }
  .cs-login-main .cs-login-content {
    padding: 3% 0;
  }
  .cs-card-area {
    flex-direction: column;
  }
  .cs-card-area {
    padding: 20px;
  }
  .cs-card-area .cs-mobile-list {
    display: flex;
    flex-direction: column;
  }
  .cs-profile-area .cs-profile-form .cs-duo {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .cs-profile-area .cs-profile-form .cs-duo .cs-list-title {
    margin-bottom: 10px;
  }
  .cs-profile-area .cs-profile-form .cs-pp-area {
    flex-direction: column;
    width: 100%;
  }
  .cs-profile-area .cs-profile-form .cs-pp-area .cs-file-area {
    width: 100%;
  }
  .cs-contactus-area {
    padding: 20px 10px;
  }
  .cs-contactus-bottom {
    padding: 30px 0;
  }
  .cs-contactus-bottom .cs-contactus-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .cs-card-main .cs-card-title {
    font-size: 40px;
    line-height: 48px;
  }
  .cs-card-main .cs-card-desc {
    font-size: 18px;
    line-height: 26px;
  }
  /*İNDEX*/
  .cs-index-headbox h2.cs-head, .cs-index-headbox h1.cs-head {
    font-size: 24px;
    line-height: 32px;
  }
  .cs-index-headbox .cs-desc {
    font-size: 14px;
    line-height: 22px;
  }
  .cs-section-2 .cs-sec2-card-wrapper .cs-card {
    margin: 16px auto;
  }
  .cs-section-3 .cs-sec3-content {
    margin-top: 30px;
  }
  .cs-section-4 .cs-sec4-main .row {
    max-width: 100%;
  }
  .cs-section-4 .cs-sec4-main .row .cs-card {
    max-width: 100%;
  }
  .cs-section-5 .cs-sec5-main .cs-index-headbox {
    margin: 30px 0;
  }
  .cs-section-6 .cs-sec6-main .row .cs-card {
    margin: 30px 0;
  }
  .cs-section-8 .cs-slider-area .halfSlider1 .item {
    padding: 30px 5px;
  }
  .cs-section-8 .cs-slider-area .halfSlider1 .owl-nav {
    display: none;
  }
  /*İNDEX END*/
  /*FOOTER*/
  footer .cs-footer-top {
    flex-direction: column;
  }
  footer .cs-footer-top .cs-col-1 {
    flex: 1 !important;
    max-width: 100% !important;
  }
  footer .cs-footer-top .cs-col-1 .cs-footer-list {
    flex-direction: column;
  }
  footer .cs-footer-top .cs-col-2 {
    flex: 1 !important;
    max-width: 100% !important;
  }
  footer .cs-footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }
  /*FOOTER END*/    
  .cs-hospital-card-1 .cs-right-area .cs-duo-1 .cs-title-1, .cs-hospital-card-1 .cs-right-area .cs-duo-1 .cs-star-area {
    font-size: 20px;
    line-height: 28px;
  }
  .cs-content .cs-detail-link, .cs-content .cs-detail-link-2 {
    font-size: 20px;
    line-height: 28px;
  }
  .cs-table-area {
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 10px;
  }
  .cs-table-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  .cs-table-area::-webkit-scrollbar {
    height: 3px;
    background-color: #F5F5F5;
  }
  .cs-table-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  .cs-table-area table {
    width: 650px;
  }
  .card-list-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  .cs-hospital-card-1 .cs-right-area .cs-duo-1 {
    flex-direction: column;
    gap: 5px;
  }
  .cs-hospital-card-1 .cs-right-area .cs-duo-1 button {
    width: 100%;
  }
  .cs-hospital-card-1 .cs-img-area img {
    max-height: 160px;
  }
  .price-list-area {
    margin-top: 15px;
  }
  .cs-detail-title {
    font-size: 22px;
    line-height: 30px;
  }
  .cs-clinic-card-area .cs-input-area {
    flex-direction: column;
    gap: 5px;
  }
  .cs-clinic-card-area .cs-select-area {
    max-width: 100%;
  }
  .cs-clinic-card-area .cs-clinic-card-contents {
    margin: 30px 0;
  }
}
@media (min-width: 500px) {
  #goTpButton {
    margin: 30px;
  }
}/*# sourceMappingURL=responsive.css.map */